# SPDX-License-Identifier: BSD-3-Clause
# Copyright 2019 6WIND S.A.
# See https://editorconfig.org/ for syntax reference.

root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
indent_style = tab
tab_width = 8
max_line_length = 100

[*.py]
indent_style = space
indent_size = 4
max_line_length = 100

[meson.build]
indent_style = space
indent_size = 4
tab_width = 4

[*.rst]
indent_style = space
indent_size = 3

[COMMIT_EDITMSG]
max_line_length = 72
